<nav class="navbar navbar-default" style="background-color: #337ab7 !important;
background-image: none;
color: #fff;
border-color: #337ab7;
border-radius: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #ffffff" href="#">
                <img style="width: 90px; margin-top: -12px" src="../../../assets/images/shopno-logo.jpg" alt="">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li [ngClass]="{'active': currentMenu == 'dashboard'}" (click)="getAllProducts('dashboard')">
                <a style="color: #ffffff" href="javascript:void(0)">All Products/Inventory</a></li>
            <li [ngClass]="{'active': currentMenu == 'my_order'}">
                <a style="color: #ffffff" href="javascript:void(0)" (click)="myOrder('my_order')">My Order</a></li>
            <li><a style="color: #ffffff !important;" href="javascript:void(0)" (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>


<div class="container" *ngIf="currentMenu == 'dashboard'">
    <div class="row">
        <p *ngIf="productAll.data.Count == 0" class="text-danger text-center'">No product found. Upload product file
            first.</p>
        <div class="col-md-2" style="padding: 13px; margin: 10px; border: 1px solid silver;"
             *ngFor="let product of productAll.data.Items">
            <div class="thumb-wrapper">
                <div class="img-box">
                    <img width="100%" src="../../../assets/images/img-dummy-product.jpg"
                         class="img-responsive img-fluid"
                         alt="">
                </div>
                <div class="thumb-content">
                    <h4 style="text-align: center">{{product.product_name}}</h4>
                    <p class="item-price"><span><strong>&#2547;</strong>{{product.price}}</span><span
                            style="float: right;">Quantity: {{product.quantity}}</span></p>
                    <div class="star-rating" style="display: flex">
                        <ul class="list-inline" style="width: 95%;">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                        <span style="float: right; width: 5%; color: green; cursor: pointer"
                              (click)="productDetails(product)" data-toggle="modal"
                              data-target="#centralModalSuccess"><i class="fa fa-info-circle"
                                                                    aria-hidden="true"></i></span>
                    </div>
                    <div style="width: 100%; display: inline-block"><input type="number" value="0" #qty
                                                                           style="width:65px; margin-right: 5px">
                        <a href="javascript:void(0)" class="btn btn-primary" (click)="createOrder(product, qty.value)">Add
                            Order</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="currentMenu == 'my_order'">
    <table class="table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Status</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Amount</th>
            <!--<th>Action</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of myOrders; let i = index">
            <td>{{order.order_id}}</td>
            <td>{{order.customer_id}}</td>
            <td>{{order.order_status}}</td>
            <td>{{order.product_details.product_name}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.total_amount}}</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Central Modal Medium Success -->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <p style="font-size: 18px; font-weight: bold;">Product Details</p>
                    <table class="table" *ngIf="productDetail">
                        <tbody>
                        <tr>
                            <th scope="row">Product Name</th>
                            <td>{{productDetail.product_name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Price</th>
                            <td><strong>&#2547;</strong>{{productDetail.price}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Quantity</th>
                            <td>{{productDetail.quantity}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Producer</th>
                            <td>{{productDetail.producer}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>{{productDetail.phone}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{productDetail.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>{{productDetail.address}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{productDetail.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Success-->
