<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">Login to <img width="10%" src="../../../../assets/images/beta-shwapno-logo.png" alt=""></div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" class="text-left" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="lg_username" name="lg_username"
                               formControlName="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="lg_password" name="lg_password"
                               formControlName="password" placeholder="password">
                    </div>
                </div>
                <button type="submit" class="login-button" [disabled]="loginForm.invalid"><i
                        class="fa fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>
